<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
	<div class="title-box-d">
		<h3 class="title-d">Recherche avancée</h3>
	</div>
	<span class="close-box-collapse right-boxed bi bi-x"></span>
	<div class="box-collapse-wrap form">
		<form class="form-a">
			<div class="row">
				<div class="col-md-12 mb-2">
					<div class="form-group">
						<label class="pb-2" for="Type">Mot clé</label>
						<input type="text" class="form-control form-control-lg form-control-a" placeholder="Mot clé">
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="Type">Quel projet?</label>
						<select class="form-control form-select form-control-a" id="Type">
							<option>Tous types</option>
							<option>Louer</option>
							<option>Acheter</option>
							<option>Construire</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="city">Localité</label>
						<select class="form-control form-select form-control-a" id="city">
							<option>Toute la france</option>
							<option>Ile de france</option>
							<option>Bretagne</option>
							<option>Occitanie</option>
							<option>Normadie</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="bedrooms">Nombre de pièces</label>
						<select class="form-control form-select form-control-a" id="bedrooms">
							<option>00</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="garages">Nombre de chambres</label>
						<select class="form-control form-select form-control-a" id="garages">
							<option>00</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
							<option>04</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="bathrooms">Nombre de Salle de Bains</label>
						<select class="form-control form-select form-control-a" id="bathrooms">
							<option>00</option>
							<option>01</option>
							<option>02</option>
							<option>03</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 mb-2">
					<div class="form-group mt-3">
						<label class="pb-2" for="price">Budget minimum</label>
						<select class="form-control form-select form-control-a" id="price">
							<option>Pas de minimum</option>
							<option>50,000 €</option>
							<option>100,000 €</option>
							<option>150,000 €</option>
							<option>200,000 €</option>
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<button type="submit" class="btn btn-b">Rechercher</button>
				</div>
			</div>
		</form>
	</div>
</div>
